

<form clas="panel-title">
    <table>
    <tr>
        <td>
            <textarea>
            Si de mi baja lira
            tanto pudiese el son, que en un momento
            aplacase la ira
            del animoso viento
            y la furia del mar y el movimiento,
            —Garcilaso de la Vega
            </textarea>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" class="btn btn-lg btn-info" />
        </td>
    </tr>
    </table>
</form>